<section class="container forms">
    <div class="tabla-gastos">
        <h1 *ngIf="cliente" class="titulo-gastos">¡Hola, {{cliente.usuario}}!</h1>
        <h2 class="titulo-ingresosgastos">Ingresos y gastos</h2>
        <div class="fila-tabla cabecera-tabla">
            <div>Concepto</div>
            <div>Lugar</div>
            <div>Importe</div>
            <div>Fecha</div>
        </div>
        <div class="background">
            <article class="fila-tabla" *ngFor="let gasto of infoGastos">
                <div>{{gasto.concepto}}</div>
                <div>{{gasto.lugar}}</div>
                <div>{{gasto.importe | currency:"EUR"}}</div>
                <div>{{gasto.fecha | date: "short"}}</div>
            </article>
        </div>
        <div class="saldo-container">
            <div class="saldo">
                <h3>Saldo Actual:</h3>
                <p *ngIf="saldo">{{cliente.saldo}}€</p>

                <div>
                    <img src>
                </div>
            </div>
            <div class="img">
                <h3>Saldo Actual:</h3>
                <p>3.478 </p>
            </div>
        </div>
    </div>
</section>
