<section class="container forms">
    <div class="tabla-gastos">
        <h1 *ngIf="cliente" class="titulo-gastos">¡Hola, {{cliente.usuario}}!</h1>
        <h2 class="titulo-ingresosgastos">Ingresos y gastos</h2>
        <div class="fila-tabla cabecera-tabla">
            <div>Concepto</div>
            <div>Lugar</div>
            <div>Importe</div>
            <div>Fecha</div>
        </div>
        <div class="background">
            <article class="fila-tabla" *ngFor="let gasto of infoGastos">
                <div>{{gasto.concepto}}</div>
                <div>{{gasto.lugar}}</div>
                <div>{{gasto.importe | currency:"EUR"}}</div>
                <div>{{gasto.fecha | date: "short"}}</div>
            </article>
        </div>
        <div class="saldo-container">
        <div class="saldo">
                <h3>Saldo Actual:</h3>
                <p class="dinero" *ngIf="saldo">{{cliente.saldo}}€</p>
        </div>
        <div class="saldo-container">
            <div class="saldo">
                  <h2>Rellena los datos</h2>
                        <div class="field input-field">
                              <input [(ngModel)]="password" type="text" name="id" placeholder="Nueva Contraseña" required>
                        </div>
                        <div class="field input-field">
                              <input [(ngModel)]="password2" type="text" name="password" placeholder="Repetir Contraseña" required>
                        </div>
                        <div class="field button-field">
                              <button type="button" (click)="modificarLogin()">Enviar</button>
                        </div>
            </div>
            <div class="field button-field">
                <button (click)="cerrarSesion()">Cerrar Sesion</button>
            </div>
      </div>

    </div>
    </div>
    
</section>
