

<section class="container forms">
    <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>
      <div class="form login">
            <div class="form-content">
                  <header>Rellena los datos</header>
                        <div class="field input-field">
                              <input [(ngModel)]="id" type="number" name="id" placeholder="Beneficiario(ID)" required>
                        </div>
                        <div class="field input-field">
                              <input [(ngModel)]="importe" type="number" name="importe" placeholder="Importe" required>
                        </div>
                        <div class="field input-field">
                        <input type="text" name="concepto" placeholder="Concepto">
                        </div>

                        <div class="field button-field">
                              <button type="button" (click)="enviarTransferencia()">Enviar</button>
                        </div>
                        <div class="field button-field">      
                              <button type="button" (click)="borrarFormulario()">Borrar</button>
                        </div>
            </div>
      </div>
</section>


<!-- <div class="line"></div>
  
          <div class="media-options">
              <a href="#" class="field facebook">
                  <i class='bx bxl-facebook facebook-icon'></i>
                  <span>Inicia con Facebook</span>
              </a>
          </div>
  
          <div class="media-options">
              <a href="#" class="field google">
                  <img src="#" alt="" class="google-img">
                  <span>Inicia con Google</span>
              </a>
          </div>
  
      </div>
   -->
<!-- <div class="form signup">
          <div class="form-content">
              <header>Iniciar Sesión</header>
              <form action="#">
                  <div class="field input-field">
                      <input type="email" placeholder="Email" class="input">
                  </div>
  
                  <div class="field input-field">
                      <input type="password" placeholder="Create password" class="password">
                  </div>
  
                  <div class="field input-field">
                      <input type="password" placeholder="Confirm password" class="password">
                      <i class='bx bx-hide eye-icon'></i>
                  </div>
  
                  <div class="field button-field">
                      <button>Registrate</button>
                  </div>
              </form>
  
              <div class="form-link">
                  <span>¿Ya tienes una cuenta?<a href="#" class="link login-link">Inicia Sesión</a></span>
              </div>
          </div>
  
          <div class="line"></div>
  
          <div class="media-options">
              <a href="#" class="field facebook">
                  <i class='bx bxl-facebook facebook-icon'></i>
                  <span>Inicia con Facebook</span>
              </a>
          </div>
  
          <div class="media-options">
              <a href="#" class="field google">
                  <img src="#" alt="" class="google-img">
                  <span>Incia Sesión con Google</span>
              </a>
          </div>
      </div> -->