<section class="container forms">
      <div class="form login">
            <div class="form-content">
                  <header>Date de Alta</header>
                        <div class="field input-field">
                              <input type="text" name="id" placeholder="Nombre Usuario" required #nombre>
                        </div>
                        <div class="field input-field">
                              <input type="email" name="email" placeholder="Correo electronico" required #email>
                        </div>
                        <div class="field input-field">
                        <input type="password" name="Contraseña" placeholder="Contraseña" required #password>
                        </div>
                        <div class="field button-field">
                              <button type="button" (click)="registrarCliente(nombre.value, email.value, password.value)">Enviar</button>
                        </div>
                        <div class="field button-field">      
                              <!-- <button type="button" (click)="borrarFormulario()">Borrar</button> -->
                        </div>
            </div>
      </div>
</section>
