<section class="container forms">
    <div class="tabla-gastos">
        <h1 *ngIf="cliente" class="titulo-gastos">¡Bienvenido! {{cliente.usuario}}</h1>
        <h2 class="titulo-ingresosgastos"></h2>
        <div class="background">
            <article class="fila-tabla">
                <img src="https://img.freepik.com/vector-gratis/plantilla-tarjeta-credito-estilo-neumorfismo_1017-30676.jpg?w=740&t=st=1688719978~exp=1688720578~hmac=56b5a494a10c1aa4e02d0f9ec0d0d15d158f8400a8218b9c86fd9984a52054fa"/>
            </article>
        </div>
    </div>
</section>
